#loginField {
	background: #ffffff;
	border-radius: 5px;
	display: block;
	box-shadow: 0px 0px 1px 1px #999;
	width: 340px;
	height: auto;
	margin: 50px auto 0 auto;
	padding: 30px;
}

#ppiLogo {
	margin: 0 auto;
	display: block;
	height: 55px;
}

input, #infoText {
	font-family: Arial;
	border-radius: 5px;
	width: 320px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #222;
	padding: 0;
	display: block;
	margin: 10px auto;
}
input {
	height: 50px;
}
input[type=text], input[type=password] {
	background: #f5f5f5;
}

#login {
	background: #000080;
	color: white;
	cursor: pointer;
}

#login:hover {
	background-color: #2929a9;
}

#leftLink {
	float: left;
	color: black;
}

#rightLink {
	float: right;
	color: black;
}

